<table>
<tr>
  <th>Name</th>
  <th>Description</th>
  <th>Price</th>
  <th>Category</th>
</tr>

<% @search.each do |x| %>
<tr>
  <td><%= x.name %></td>
  <td><%= x.description %></td>
  <td><%= x.price %></td>
  <td><%= x.category %></td>
</tr>
<% end %>
</table>

<%= link_to 'Index', ads_path %>